#calls-panel.panel.panel-primary
  .panel-heading
    .row
      .col-sm-9
        h3.panel-title
          a data-toggle="collapse" href="#calls"
            span.glyphicon.glyphicon-option-vertical
            ' Calls
      .col-sm-3
        h3.panel-title = bill.call_charges_total
  #calls.panel-collapse.collapse
    .panel-body
      table.table
        thead
          th Number
          th Duration
          th Cost
        - for call in bill.calls
          tr
            td = call.called
            td = call.duration
            td = call.cost
