.well.well-lg
  table.table
    thead
      th Generated
      th Due date
      th Bill Period
      th Total Bill
    tr
      td = bill.generated_at
      td = bill.due_date
      td = "#{bill.period_starts_on} – #{bill.period_ends_on}"
      td = bill.total
