nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      a.navbar-brand href="#"
        ' Sky
.container
  h1 Your Bill

  == slim :important_bill_information, locals: { bill: bill }

  - if bill.packages
    == slim :packages, locals: { bill: bill }

  - if bill.calls
    == slim :calls, locals: { bill: bill }

  - if bill.rentals || bill.buy_and_keep
    == slim :sky_store, locals: { bill: bill }

  .well
    .row
      .col-sm-9
        h4 Total:
      .col-sm-3
        h4 = bill.total
