#packages-panel.panel.panel-primary
  .panel-heading
    .row
      .col-sm-9
        h3.panel-title
          a data-toggle="collapse" href="#packages"
            span.glyphicon.glyphicon-option-vertical
            ' Packages
      .col-sm-3
        h3.panel-title = bill.packages_total
  #packages.panel-collapse.collapse
    .panel-body
      table.table
        thead
          th Package Name
          th Cost
        - for package in bill.packages
          tr
            td = package.name
            td = package.cost
