#sky-store-panel.panel.panel-primary
  .panel-heading
    .row
      .col-sm-9
        h3.panel-title
          a data-toggle="collapse" href="#sky-store"
            span.glyphicon.glyphicon-option-vertical
            ' Sky Store
      .col-sm-3
        h3.panel-title = bill.sky_store_total
  #sky-store.panel-collapse.collapse
    .panel-body
      - if bill.rentals
        h3
          'Rentals
        table.table
          thead
            th Title
            th Cost
          - for rental in bill.rentals
            tr
              td = rental.title
              td = rental.cost
      - if bill.buy_and_keep
        h3
          'Buy and Keep
        table.table
          thead
            th Title
            th Cost
          - for rental in bill.buy_and_keep
            tr
              td = rental.title
              td = rental.cost
